
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Fira Code', monospace;
  background: #000; 
  color: #fff; 
}


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1e90ff; 
}


.hero {
  width: 60%;
  max-width: 900px;  
  margin: 6rem auto 4rem; 
  padding: 0 1rem;  
  text-align: center;
  flex: 1; 
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #ccc;
}



.footer {
  text-align: center;
  padding: 1rem;
  color: white;
}






@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .nav-links {
    flex-direction: row;
    gap: 0.8rem;
    margin-top: 0.5rem;
  }

  .hero {
    width: 90%;
    margin: 4rem auto 3rem; /* Adjust top & bottom for smaller screens */
  }
}
